body {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 1366px;
  height: 768px;
  background-color: rgb(117 , 235 , 121);
}

h1 , p {
  margin: 0;
  padding: 0;
}

p {
  color: rgb(110 , 88 , 88);
}

.BackgroundSelected {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
}

main {
  background-color: rgb(225 , 235 , 223);
  margin: 20px auto;
  width: 700px;
  padding: 10px;
  border-radius: 20px;
}

ol {
  text-align: left;
}

button {
  border-radius: 10px;
  outline: none;
}

input {
  border-radius: 10px;
  outline: none;
}
